.task_pic {
    border: 2px solid black;
    max-height: 180px;
    width: auto;
}



.status, .task_desc {
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
}

.task_desc {
    margin-bottom: 15px;
    text-align: center;
}


.task_item {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

h3, h1 {
    font-family: sans-serif;
    margin-bottom: 20px;
}

.about {
    color: #000033;
    font-size: 150%;
    font-family: sans-serif;
    margin-bottom: 30px;
}

button {
    color:white;
}